<%= form_for @user do |f| %>
  <div>
    <%= f.text_field :email, {class: "form-control", placeholder: "*Email"} %>
  </div>
  <div>
    <%= f.text_field :user_name, {class: "form-control", placeholder: "*Username"} %>
  </div>
  <div>
    <%= f.text_field :industry, {class: "form-control", placeholder: "*Industry"} %>
  </div>
  <div>
    <%= f.text_field :company, {class: "form-control", placeholder: "Company"} %>
  </div>
  <div>
    <%= f.text_field :title, {class: "form-control", placeholder: "Job title"} %>
  </div>
  <div>
    <%= f.password_field :password, {class: "form-control", placeholder: "*password"} %>
  </div>
  <div>
    <%= f.password_field :password_confirmation, {class: "form-control", placeholder: "*password confirmation"} %>
  </div>
  <div>
    <%= f.submit "Create Account", {class: "btn btn-primary"} %>
  </div>
<% end %>
