<h1>USERS PAGE</h1>
<ul>
  <% @users.each do |user| %>
  <li><%= user.email %> |
      <%= user.user_name %> |
      <%= user.industry %> |
      <%= user.company %> |
      <%= user.title %> |
  </li>
  <% end %>
</ul>
