
<div class="row">
    <div class="col-xs-6">
      <h1>Your info</h1>
        <p>Email:
            <%= @user.email %></p>
        <p>Username:
            <%= @user.user_name %></p>
        <p>Industry:
            <%= "#{@user.industry}" if @user.industry %></p>
        <p>Company:
            <%= "#{@user.company}" if @user.company %></p>
        <p>Job Title:
            <%= "#{@user.title}" if @user.title %></p>
        <p><%= link_to "Edit Your Account Info", edit_user_path(current_user) %></p>
    </div>
    <div class="col-xs-6">
      <h1>Your posts</h1>
            <% @user.posts.each do |post| %>
            <hr>
            <h4><%= post.title %></h4>
            <%= post.body %>
            <br>
            <%= link_to "Edit Your Post", edit_post_path(post) %>
            <% end %>
            <hr>
    </div>
</div>
