<%= form_for @post do |f| %>

    <div>
        <%= f.text_field :title, {class: "form-control", placeholder: "Story Title?"} %>
    </div>

    <div>
        <%= f.text_field :boss_name, {class: "form-control", placeholder: "Boss' name? - ex: asshole, Ari Gold, etc..."} %>
    </div>

    <div>
        <%= f.text_field :boss_company, {class: "form-control", placeholder: "Boss' company?"} %>
    </div>

    <div>
        <%= f.text_field :boss_title, {class: "form-control", placeholder: "Boss' title or position?"} %>
    </div>

    <div>
        <%= f.text_area :body, {class: "form-control", placeholder: "Story time!", size: "50x10"} %>
    </div>

    <%= f.submit "Post your stuff!", {class: "btn btn-primary"} %>

<% end %>
