<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <% @posts.each do |p| %>
            <div class="post-preview" id="<%= p.id %>">
                <ul>
                    <h2 class="post-title">
                        <%=link_to "#{p.title}", post_path(p) %>
                    </h2>
                    <h3 class="post-subtitle">
                        <%= p.body %>
                    </h3>
                </a>
                <p class="post-meta">Post by:
                    <%= p.user.user_name %>
                    <i><%= time_ago_in_words(p.created_at) %>
                        ago</i>
                </p>
                <span>
                    <%= link_to "LOL Welcome to Hollwyood! #{p.get_upvotes.size}", like_path(p, {view: 'index'}), {class: "btn btn-info", method: :put} %>
                </span>
                <span>
                    <%= link_to "You should quit... #{p.get_downvotes.size}", dislike_path(p, {view: 'index'}), {class: "btn btn-warning", method: :put}  %>
                </span>
                <hr>
            </ul>
            <% end %>
        </div>
        <hr>
    </div>
</div>
</div>
