<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Gossip Hollywood Gurl</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <%= render 'partials/nav' %>
        <div>
            <% if notice %>
            <div class="alert-success"><%= notice %></div>
            <% end %>
        </div>

        <div>
            <% if alert %>
          <div class="alert-danger">  <%= alert %></div>
            <% end %>
        </div>
      <div class="container"
        <%= yield %>
      </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</html>
